* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #FF4B2E;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fc3011;
}

::-webkit-scrollbar-track {
    background: rgb(75, 75, 75);
}

/* Navigation Bar */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.432);
    position: sticky;
    top: 0;
    height: 50px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
    z-index: 1;
    transition: .5s;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    top: 0px;
}

.nav .items {
    list-style: none;
    margin: 10px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.nav .fa-home, .fa-sign-in, .fa-download {
    display: none;
}

#logo {
    height: 130px;
}

.nav .items a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 5px 10px;
}

.nav .items a:hover {
    background-color: rgb(255, 75, 46);
    color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(63, 63, 63, 0.692);
}

header #logout {
    width: 100px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #FF4B2E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

header .burger {
    display: none;
    position: absolute;
    top: 9px;
    right: 10px;
    height: 40px;
    width: 5%;
    margin: 0 10px;
    transition: 1s;
}

header .burger:hover {
    cursor: pointer;
}

header .burger .line {
    background: rgb(255, 255, 255);
    height: 4px;
    width: 100%;
    margin: 5px;
    border-radius: 5px;
    transition: .5s;
}

.change #line-1 {
    transform: rotate(-405deg) translate(-7px, 5px);
}

.change #line-2 {
    transform: translateX(-20px);
    opacity: 0;
}

.change #line-3 {
    transform: rotate(405deg) translate(-7px, -6px);
}

.background {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background: url('../Images/Wave.png') no-repeat;
    background-size: 100%;
    background-position-y: 100%;
}

.background .main-logo {
    width: 500px;
}

.background .article-1 {
    padding: 20px;
}

.background .article-1 h1 {
    font-family: 'Days One', sans-serif;
}

.background .article-1 h1 #orange {
    color: #FF4B2E;
}

.background .article-1 h1 #white {
    background: rgba(0, 0, 0, 0.322);
    color: white;
    border-radius: 15px;
    padding: 0px 10px;
}

.background .article-1 #start {
    background: none;
    border: 2px solid #FF4B2E;
    padding: 5px 10px;
    border-radius: 25px;
    font-family: 'Days One', sans-serif;
    text-decoration: none;
    color: rgb(57, 66, 77);
    transition: .7s;
}

.background .article-1 #start:hover {
    box-shadow: inset 150px 0 4px #FF4B2E;
    color: white;
}

.background .article-1 p {
    font-style: italic;
}

.background .img svg {
    margin: 20px 0;
}

.popup {
    display: none;
}

.popup .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #00000086;
    z-index: 1;
}

.popup .data {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.616);
    z-index: 2;
    padding: 50px 30px;
    text-align: center;
    box-sizing: border-box;
}

.popup .data #quote {
    font-size: 1.5rem;
}

.popup #close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.popup #close p {
    font-size: 2rem;
    margin: -14px;
    color: #FF4B2E;
    transition: .5s;
}

.popup #close p:hover {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.534);
}

.popup .data #popup-heading {
    font-family: fantasy;
    color: rgb(57, 66, 77);
    text-shadow: 0 0 8px grey;
}

.overview {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-repeat: no-repeat;
    margin: auto;
    padding: 15px 20px;
    overflow: hidden;
}

.overview article {
    border-left: 4px solid #FF4B2E;
    padding: 10px 20px;
    width: 70%;
}

.goal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid rgb(214, 213, 213);
    border-bottom: 2px solid rgb(214, 213, 213);
    padding: 15px 20px;
}

.goal article {
    border-right: 4px solid #FF4B2E;
    padding: 10px 20px;
    width: 70%;
    margin-bottom: 20px;
    overflow: hidden;
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
    margin: 20px 0;
}

.offer .images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.offer #offer-heading {
    border-bottom: 6px solid #FF4B2E;
    border-radius: 5px;
}

.universities {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.universities .logo {
    width: 150px;
}

.subjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
    height: 40rem;
}

.subjects #subject-heading {
    padding: 5px 0;
    border-bottom: 6px solid #FF4B2E;
    border-radius: 5px;
}

.subjects .subject-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    row-gap: 10px;
    column-gap: 10px;
    width: 80rem;
}

.subjects .subject-container .card {
    padding: 5px 10px;
    background-color: whitesmoke;
    transition: .5s;
}

.subjects .subject-container .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
    background-color: white;
}

.subjects .subject-container .card button {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    background: none;
    outline: none;
    border: none;
    border: 2px solid #FF4B2E;
    color: rgb(57, 66, 77);
    font-family: 'Days One', sans-serif;
    transition: .4s;
}

.subjects .subject-container .card button:hover {
    background-color: #FF4B2E;
    color: white;
}

.subjects #upload {
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Days One', sans-serif;
    text-align: center;
    border: 2px solid #ff4b2e;
    border-radius: 25px;
    margin: 20px;
    transition: ease-in-out .5s;
}

.subjects #upload:hover {
    color: rgb(255, 255, 255);
    background-color: #FF4B2E;
}

.upload-subject-form {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.upload-subject-form .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    border-radius: 15px;
    background-color: rgba(245, 245, 245, 0.288);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.63);
    width: 50rem;
    height: 30rem;
}

.upload-subject-form .form-container #submit {
    background: none;
    outline: none;
    background-color: #ff4b2e;
    border-radius: 25px;
    padding: 5px 20px;
    border: none;
    color: white;
}

.upload-subject-form .form-container #submit:hover {
    background-color: #ff6750;
}

.upload-subject-form .form-container #reset {
    background: none;
    outline: none;
    background-color: #ff4b2e;
    border-radius: 25px;
    padding: 5px 20px;
    border: none;
    color: white;
}

.upload-subject-form .form-container #reset:hover {
    background-color: #ff6750;
}

.upload-subject-form input {
    margin: 10px auto;
}

.content #download-notes {
    display: none;
}

.subcontent {
    display: none;
    height: auto;
    text-align: center;
}

.table tr td a {
    text-decoration: none;
    font-weight: 600;
}

.table tr td a:hover {
    color: #FF4B2E;
    text-decoration: underline;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
    justify-content: center;
    align-items: flex-start;
    background: #1E1E24;
}

.footer #footer-logo {
    margin: auto;
}

.footer .services {
    margin: 0 15px;
}

.footer .services ul {
    list-style: none;
    padding: 0;
}

.footer .services ul li {
    margin: 15px 0px;
}

.footer .services ul li a {
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer .services ul li a:hover {
    color: rgb(138, 133, 133);
}

.footer .services h2 {
    color: rgb(79, 81, 87);
    text-shadow: 0 0 8px rgb(75, 73, 73);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer .support {
    margin: 0 15px;
}

.footer .support ul {
    list-style: none;
    padding: 0;
}

.footer .support ul li {
    margin: 15px 0px;
}

.footer .support ul li a {
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer .support ul li a:hover {
    color: rgb(138, 133, 133);
}

.footer .support h2 {
    color: rgb(79, 81, 87);
    text-shadow: 0 0 8px rgb(75, 73, 73);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer .contact {
    margin: 0 15px;
}

.footer .contact h2 {
    color: rgb(79, 81, 87);
    text-shadow: 0 0 8px rgb(75, 73, 73);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0px;
}

.footer .contact ul {
    list-style: none;
    padding: 0;
    color: white;
}

.footer .contact ul li {
    margin: 15px 0px;
}

.footer .contact ul li a {
    color: white;
    text-decoration: none;
}

.footer .contact ul li #facebook, #linked-in, #twitter {
    margin: 20px 10px;
    font-size: 24px;
    color: grey;
}

.footer .contact ul li #email {
    padding: 5px;
    color: grey;
}

.footer .contact ul li #address {
    padding: 5px;
    color: grey;
}

.footer .contact ul li #facebook:hover, #linked-in:hover, #twitter:hover {
    color: whitesmoke;
    text-shadow: 0 0 10px #FF4B2E;
}

.copyright {
    text-align: center;
    background: #1E1E24;
    color: grey;
}

.copyright p {
    margin: 0px;
    font-size: 1rem;
}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#back {
    outline: none;
    border: none;
    padding: 5px 15px;
    background: none;
    border: 2px solid #ff4b2e;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

#back:hover {
    background: #ff4b2e;
    color: white;
}

/* Utility class */

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.main-heading {
    font-size: 3rem;
}

.heading {
    font-size: 3rem;
    font-family: fantasy;
    letter-spacing: 2px;
    color: rgb(57, 66, 77);
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-heading {
    font-size: 2rem;
    font-weight: 600;
}

/* ----------------Responsive CSS---------------- */

@media only screen and (max-width:1350px) {
    .subjects .subject-container {
        width: 60rem;
    }
}

@media only screen and (max-width:1100px) {
    .overview {
        flex-direction: column;
    }
    .goal {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width:982px) {
    .background .main-logo {
        width: 300px;
        height: 300px;
    }
    .subjects {
        height: 80rem;
    }
    .subjects .subject-container {
        width: 40rem;
    }
    header {
        justify-content: space-between;
    }
    header .nav {
        flex-direction: column;
        flex-wrap: nowrap;
        display: none;
    }
    header #logout {
        display: none;
    }
    #searchtext {
        display: none;
    }
    header .burger {
        display: block;
    }
    .goal {
        background-position: center;
    }
    .offer .images {
        flex-direction: column;
        justify-content: center;
    }
    .img svg {
        width: 20rem;
        height: 14rem;
        margin: 0;
    }
    @media only screen and (max-width:700px) {
        .subjects {
            height: 80rem;
        }
        .subjects .subject-container {
            width: 70%;
        }
        .background {
            flex-direction: column;
            justify-content: center;
            background-position-x: 60%;
            background-size: 100pc;
        }
    }
    @media only screen and (max-width:590px) {
        .img svg {
            width: 16rem;
            height: 14rem;
            margin: 0;
        }
        .overview article {
            width: 100%;
        }
        .overview {
            flex-direction: column;
        }
        .goal {
            flex-direction: column-reverse;
            background-size: 50%;
            background-position: top;
        }
        .goal article {
            width: 100%;
        }
        .heading {
            font-size: 2.3rem;
        }
        footer {
            justify-content: center;
            align-items: center;
        }
        p {
            font-size: 18px;
        }
        .popup .data {
            width: 70%;
            top: 10%;
        }
    }
    @media only screen and (max-width:429px) {
        .subjects .subject-container .card {
            width: 80%;
            margin: auto;
        }
        .card-heading {
            font-size: 1.5rem;
        }
        .heading {
            font-size: 1.5rem;
        }
        .main-heading {
            font-size: 2rem;
        }
        .background {
            height: 100vh;
        }
        .overview {
            height: 80vh;
        }
        .goal {
            height: 80vh;
        }
        .overview article p {
            font-size: 14px;
        }
        .goal article p {
            font-size: 14px;
        }
        .offer .images .context .offer-logo {
            height: 120px;
        }
        .offer .images .context h3 {
            font-size: 18px;
        }
        footer .copyright p {
            font-size: 12px;
        }
    }
}